
/* @font-face {
    font-family: manrope_bold;
    src: url(../fonts/manrope_bold.otf);
}
@font-face {
    font-family: manrope_light;
    src: url(../fonts/manrope_light.otf);
}
@font-face {
    font-family: manrope_light;
    src: url(../fonts/manrope_light.otf);
} */

@font-face {
    font-family: manrope_bold;
    src: url(../fonts/Gotham-Bold.otf);
}
@font-face {
    font-family: manrope_light;
    src: url(../fonts/Gotham-Light.otf);
}

*{
	box-sizing: border-box;
}
body{
    font-family: 'manrope_light', Arial;
    font-size: 16px;
    color: rgb(13,13,13);
    letter-spacing: .5px;
    line-height: 1.5;
}
b{
    font-family: 'manrope_bold', Arial;
    font-weight: 400;
}
h1{
    font-size: 48px;
    text-align: center;
    font-family: 'manrope_bold', Arial;
}
h2{
    font-size: 32px;
    font-weight: normal;
    text-align: center;

}
h3{
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    font-family: 'manrope_light', Arial;
}
h4{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    font-family: 'manrope_light', Arial;
}


ul{
list-style: none;
margin: 0;
padding: 0;
}
li{
display: inline-block;
}







.margin-bottom-0{
    margin-bottom: 0;
}
header{
    height: 80px;
    box-shadow:  0 2px 10px rgba(0,0,0,.2);
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 21;
}
nav{
    height: inherit;
    position: relative;
    max-width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
}
nav ul{
display: table;
height: inherit;
}
a{
    text-decoration: none;
    cursor: pointer;
}
nav ul a{
display: table-cell;
vertical-align: middle;
padding: 20px;
}

nav ul a.logo-color{
    padding: 0;
    margin: 0;
}
nav ul a.logo-title{
    padding-left: 0;
}
nav ul a.logo-color i{
    background-image: url(../img/curvaCCP.svg);
    display: block;
    width: 70px;
    height: 70px;
    margin: 4px;
    background-repeat: no-repeat;
}
nav ul a i{
    font-size: 1.2em;
    margin: 10px;
}

nav ul.a-center{
    width: auto;
    margin: auto;
}
nav ul.a-left{
    position: absolute;
    left: 0;
    top:0;

}
nav ul.a-right{
    position: absolute;
    right: 0;
    top:0;
}

.padding-top-20{
    padding-top: 20px;
}
.f-ligth{
   font-family: manrope_light, Arial;
}

.padding-20{
    padding: 20px;
}

section{
}



section.home{
    height: 100vh;
    overflow: hidden;
}

section.servicios{
    padding-top: 20px; 
}
section.nosotros{
    padding: 20px; 
    
}
section.contacto{
    padding: 20px; 
    height: 600px;
}
section.clientes{
    box-shadow: 0 5px 10px rgba(0,0,0,.5);
}

.wallpaper{
    background-image: url(../img/0.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center;
}
body.night{
    background-color: rgb(50,50,50);
}
.mapa{
    background-image: url(../img/mapa_dia.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.img-slide-item{
    z-index: 1;
    height: 450px;
    margin-top: -25px;
    position: absolute;
    left: 50%;
    margin-left: -330px;
}







.max-width{
    max-width: 1200px;
    margin: auto;
   }

.max-width-350{
    max-width: 400px;
    margin: auto;
}
.max-width-250{
    max-width: 250px;
    margin: auto;
}


.c-white{
    color: white;
}
.t-center{
    text-align: center;
}
.t-right{
    text-align: right;
}
.fs-10{
    font-size: 10px;
}


.logo-dynamic{
    width: 200px;
    height: 25px;
    display: inline-block;
    background-repeat: no-repeat;
}
.logo-footer-blanco{
    width: 150px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../img/logo_blanco.svg);
    margin: auto;
    background-position: center;
}
.logo-home-blanco{
    width: 250px;
    height: 150px;
    display: block;
    background-repeat: no-repeat;
    background-image: url(../img/logo_blanco_full.svg);
    margin: auto;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -125px;
}
.b-black{
    background-color: black;
}

.carousel-prev{
    /* display: none; */
}
.carousel-next{
    /* display: none; */
}
.img-slide{
    height: 200px;
    background-size: 50% auto ;
    background-position: center;
    background-repeat: no-repeat;
}
.img-slide-200{
    width: 200px;
    height: 200px;
    background-size: 80% auto ;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}

.border-right{
    border-right: 1px solid rgb(255,255,255,.5);
}

.padding-bottom-100{
    padding-bottom: 100px!important;
}

.carousel-dots {
    /* bottom: 0px!important; */
    z-index: 20;
}
.carousel-dots li button:before {
    color: black!important;
}


.item-row {
    display: table;
    width: 100%;
  }
.item-col{
    display: table-cell;
  }


 .socio-1{
    background-image: url(../img/socio_1.jpg)
 }
 .socio-2{
    background-image: url(../img/socio_2.jpg)
 }
 .socio-3{
    background-image: url(../img/socio_3.jpg)
 }


.card{
    width: 100%;
    height: auto;
    min-height: 100px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);   
    overflow: hidden;
    cursor: pointer;
    position: relative;
    text-align: center
}
.card:hover{
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
}
.card .img{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.card .info{
    padding: 0px 16px;
}
.card .info h3{
    
}
.card .info p{
}


.hover-link{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 300px;
    opacity: 0;
    display: table;
    text-align: center;
    width: 100%;
    font-family: 'manrope_light', Arial;
    transition: .3s;
    padding: 20px;
    font-size: 12px;
}
.hover-link span{
    display: table-cell;
    vertical-align: middle;
}
.card:hover .hover-link{
    opacity: 1;
    transition: .3s;
}



.filer-cats{
    max-width: 1200px;
    border-bottom: 1px solid rgb(222,222,222);
    width: 100%;
    margin: 0 auto 50px auto;
    height: 60px;
}
.filer-cats ul{
    vertical-align: middle;
    text-align: center;
    height: inherit;
    display: table;
    margin: auto;
}
.filer-cats ul li{
    display: table-cell;
    padding: 0px 20px;
    height: inherit;
    vertical-align: middle;
    cursor: pointer;
    border-bottom: 1px solid rgb(222,222,222);
    position: relative;
}
.filer-cats ul li.active{
    border-bottom: 1px solid rgba(81,18,111,.8);
    color: rgb(81,18,111);
}
.filer-cats ul li.active:after {
    position: absolute;
    content: "";
    bottom: -6px;
    left: 50%;
    margin-left: -4px;
    border-style: solid;
    width: 4px;
    height: 4px;
    border-radius: 6px;
    text-align: center;
    background-color: rgb(81,18,111);
    transition: .3s;
}

.content-info{
    background-color: rgba(255,255,255,.1);
    border-radius: 4px;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    font-family: 'manrope_light', Arial;
    letter-spacing: 2px;
    text-align: justify;
    color: rgba(255,255,255,.8);
    margin: 20px auto;
}

footer{
    height: 370px;
    background-color: black;
    padding: 50px;
}
hr{
    border: 0;
    height: 1px;
    background: rgba(255, 255, 255,.5);

}

.menu-mobile{
    display: none
}
.menu-mobile i{
    color: rgb(81,18,111);
}
.menu-mobile i.ex{
    display: none;
}
.menu-mobile i.bar{
    display: block;
}
.menu-mobile.show i.ex{
    display: block;
}
.menu-mobile.show i.bar{
    display: none;
}
.menu-mobile.show ul{
    height: auto;
    bottom: 0px;
    padding-top: 20px;
}

.menu-mobile > i{
    float: right;
    margin-top: -45px;
    margin-right: 30px;
    position: relative;
    z-index: 2;
}
.menu-mobile ul{
    position: fixed;
    top: 80px;
    left: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    padding-top: 0px;
    height: 0px;
    overflow: hidden;
}
.menu-mobile ul li{
    color: rgb(255,255,255);
    display: block;
    padding: 10px 25px;
    font-size: 22px;
    letter-spacing: 4px;
    text-align: center;
}


.menu-mobile ul li.phone{
    font-size: 18px;
}
.menu-mobile ul li a{
    color: rgb(255,255,255);
}
.circle-r50{
    width: 100px;
    height: 100px;
    border-radius: 50px;    
    display: table-cell;
    vertical-align: middle;
}
.b-radius-4{
    border-radius: 4px;
}
.cursor-pointer{
    cursor: pointer;
}
.width-350{
    width: 350px;
}
.margin-auto{
    margin: auto;
}
.width-90p{
    width: 90%;
}

.spin{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 5s;
    opacity: 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0% {opacity: 1; z-index: 100;}
    65% {opacity: 1; z-index: 100;}
    100% {opacity: 0; z-index: -1;}
}

/* Standard syntax */
@keyframes example {
    0% {opacity: 1; z-index: 100;}
    65% {opacity: 1; z-index: 100;}
    100% {opacity: 0; z-index: -1;}
}
.typing{
    position: absolute;
    top: 50%;
    width: 70%;
    text-align: center;
    left: 15%;
    font-size: 18px;
}

.logo-home{
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
}
.day .spin{ color: rgb(30,30,30); background-color: rgb(255,255,255)}
.night .spin{ color: rgb(255,255,255);background-color: rgb(30,30,30)}
.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px;
}

/* azul-verde */
.azul-verde nav ul a:hover{color: rgb(47,177,167)}
.azul-verde .c-dynamic{color: rgb(47,177,167);}
.azul-verde .b-dynamic{background-color: rgb(47,177,167);}
.azul-verde .bg-dynamic{background-color: rgb(47,177,167);background-image: linear-gradient(to bottom right, rgb(47,177,167), rgb(120,164,44));}
.azul-verde .logo-dynamic{background-image: url(../img/logo_azul_verde.svg);}

/* azul-verde-b */
.azul-verde-b nav ul a:hover{color: rgb(47,177,167)}
.azul-verde-b .c-dynamic{color: rgb(47,177,167);}
.azul-verde-b .b-dynamic{background-color: rgb(47,177,167);}
.azul-verde-b .bg-dynamic{background-color: rgb(47,177,167);background-image: linear-gradient(to bottom right, rgb(47,177,167), rgb(120,164,44));}
.azul-verde-b .logo-dynamic{background-image: url(../img/logo_azul_verde_b.svg);}


/* azul-rojo */
.azul-rojo nav ul a:hover{color: rgb(255,51,102)}
.azul-rojo .c-dynamic{color: rgb(255,51,102);}
.azul-rojo .b-dynamic{background-color: rgb(255,51,102);}
.azul-rojo .bg-dynamic{background-color: rgb(255,51,102);background-image: linear-gradient(to bottom right, rgb(51,51,153), rgb(255,51,102));}
.azul-rojo .logo-dynamic{background-image: url(../img/logo_azul_rojo.svg);}

/* azul-rojo-b */
.azul-rojo-b nav ul a:hover{color: rgb(255,51,102)}
.azul-rojo-b .c-dynamic{color: rgb(255,51,102);}
.azul-rojo-b .b-dynamic{background-color: rgb(255,51,102);}
.azul-rojo-b .bg-dynamic{background-color: rgb(255,51,102);background-image: linear-gradient(to bottom right, rgb(51,51,153), rgb(255,51,102));}
.azul-rojo-b .logo-dynamic{background-image: url(../img/logo_azul_rojo.svg);}

/* morado-naranja */
.morado-naranja nav ul a:hover{color: rgb(255,153,51)}
.morado-naranja .c-dynamic{color: rgb(255,153,51);}
.morado-naranja .b-dynamic{background-color: rgb(255,153,51);}
.morado-naranja .bg-dynamic{background-color: rgb(255,153,51);background-image: linear-gradient(to bottom right, rgb(153,51,153), rgb(255,153,51));}
.morado-naranja .logo-dynamic{background-image: url(../img/logo_morado_naranja.svg);}

/* morado-naranja_b */
.morado-naranja_b nav ul a:hover{color: rgb(255,153,51)}
.morado-naranja_b .c-dynamic{color: rgb(255,153,51);}
.morado-naranja_b .b-dynamic{background-color: rgb(255,153,51);}
.morado-naranja_b .bg-dynamic{background-color: rgb(255,153,51);background-image: linear-gradient(to bottom right, rgb(153,51,153), rgb(255,153,51));}
.morado-naranja_b .logo-dynamic{background-image: url(../img/logo_morado_naranja_b.svg);}

/*Day*/
.day a{color: rgb(74,74,74);}
.day header{background-color: rgba(255,255,255,.95);}
.day .contenido-contacto{background-color: rgba(255,255,255,.5);}
.day .c-dynamic-h{color: rgb(255,255,255);} 
/* .day .card{background-color: rgb(255, 255, 255);color: rgb(100,100,100);} */
.day .b-dynamic-h{background-color: rgb(255, 255, 255);}
.day .hover-link{background-color: rgba(255,255,255,.8);color: rgba(0,0,0,.7);}
.day .circle-r50{background-color: rgb(255,255,255);}

/*Night*/
.night a{color: rgb(200,200,200);}
.night header{background-color: rgba(30,30,30,.99);}
.night .c-inherit{color: rgba(255,255,255,.9);}
.night .contenido-contacto{background-color: rgba(0,0,0,.5);}
.night .b-dynamic-h{background-color: rgb(50, 50, 50);}
/* .night .card{background-color: rgb(30,30,30);color: rgb(200,200,200);} */
.night .hover-link{background-color: rgba(0,0,0,.8);color: rgba(255,255,255,.7);}
.night .circle-r50{background-color: rgb(30,30,30);}
.night .menu-mobile ul li { color: rgb(30, 30, 30);}
.night .menu-mobile ul li a { color: rgb(30, 30, 30);}

.width-33p{
    width: 33%;
}





.full-screen .card{
    box-shadow: none;
    cursor: default;
    border-radius: 0;
}
.full-screen .card .img{
    height: calc(100vh / 2);
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: 100%;
    margin: auto;
    background-repeat: no-repeat;
}
.full-screen .card .info{
    padding: 0px 20px;
}
.full-screen .header-full i:hover{
    color: rgb(81,18,111);
}
.full-screen .header-full{
    box-shadow: none;
    height: 80px;
    text-align: right;
    padding: 30px;
    padding-right: 30px;
    color: rgb(81,18,111);
}
.full-screen{
    position: fixed;
    width: 400px;
    height: 350px;
    background-color: white;
    z-index: -2;
    top: 0;
    visibility: hidden; 
    left: 50%;
    right: auto;
    margin-left: -200px;
    overflow: hidden;
    transition: .2s;
    opacity: 0;
    color: white;
}
.full-screen.full-active{
    opacity: 1;
    overflow: auto; 
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
    width: auto;
    height: auto;
    z-index: 22;
    visibility: visible;
    transition: .2s;
}
.exit{
    position: absolute;
    right: 30px;
    top: 30px;
    color: rgb(255,255,255);
    /* text-shadow: 0 0 30px rgba(255,255,255,1); */
    transition: .2s;

}
.exit:hover{
    font-size: 2.5em;
    right: 28px;
    top: 27px;
    transition: .2s;
}



.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.jssorb032 {position:absolute;}
.jssorb032 .i {position:absolute;cursor:pointer;}
.jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
.jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
.jssorb032 .i.idn {opacity:.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}




 .rotate-animate{
    -webkit-animation: rot  10s infinite;
    animation: rot  10s infinite;
    animation-delay: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes rot {
    0%   { transform: rotate(0deg); }
    25%  {transform: rotate(10deg); }
    50% {transform: rotate(0deg); }
    75%  {transform: rotate(-10deg); }
    100% {transform: rotate(0deg); }
}

/* Standard syntax */
@keyframes rot {
    0%   { transform: rotate(0deg); }
    25%  {transform: rotate(10deg); }
    50% {transform: rotate(0deg); }
    75%  {transform: rotate(-10deg); }
    100% {transform: rotate(0deg); }
}


@media screen and (max-width: 1000px) {
    .menu-mobile{
        display: block;
    }
    .menu-web{
        display: none;
    }
    .item-col {
        display: block;
    }
    .contenido-contacto .item-col {
        display: table-cell;
    }
    footer .item-col {
        display: table-cell;
    }
    .width-33p{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    body {
        font-size: 12px;
    }
    .item-col {
        display: block;
    }
    .max-width-350{
        width: 100%;
    }
    .nosotros .width-350{
        width: 250px;
    }
    .circle-r50{
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }
    .img-slide {
        height: 100px;
    }
    section.nosotros {
        /* padding: 10px; */
    }
    section.contacto {
        height: 500px;
    }
    section.servicios {
        padding-left: 0px;
        padding-right: 0px;
    }
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    .hover-link {
        padding: 10px;
        font-size: 10px;
    }
    
}




